.body-leitura{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leitura-list{  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
}

.leitura-list li{
    background-color: #bfdbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    text-align: center;
    font-size: 17px;
    color: #025870;
    font-family: "DynaPuff", system-ui;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.leitura-title{
    font-size: 30px;
    font-weight: 500;
    color: #025870;
    font-family: "DynaPuff", system-ui;  
    margin-left: 12%;
}

.info-list{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.list-text{
    color: #000000;
    font-family: "DynaPuff", system-ui;   
    margin-right: 10px;
}

.button-adicionar{
    cursor: pointer;
    height: 40px;
    width: 50px;
    margin: 15px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;
    color: #ffff;
    background-color: #025870;
    font-family: "DynaPuff", system-ui;
    outline: none;
    box-shadow: none;
    border-color: none;
    animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.top-leitura{
    display: flex;
    align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #bfdbfb;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  width: 40%;
  max-width: 500px;
  height: 70%;
}

.modal-card input{
    margin: 8px;
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 15px;
    border: solid 2px #025870;
    font-family: "DynaPuff", system-ui;
    color: #025870;
    background-color: #f9fcff;
    display: flex;
    flex-direction: column;   
}

.modal-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-bottom{
    display: flex;
    flex-direction: row;
}

.card-title{
    font-size: 30px;
    font-weight: 500;
    color: #025870;
    font-family: "DynaPuff", system-ui;  
    margin-bottom: 10px;  
}


.card-btn{
    cursor: pointer;
    height: 70px;
    width: 155px;
    margin: 5px;
    font-weight: 400;
    border-radius: 15px;
    color: #ffff;
    background-color: #025870;
    font-family: "DynaPuff", system-ui;
    outline: none;
    box-shadow: none;
    border-color: none;  
}