.login-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-text{
    font-size: 15px;
    font-family: "DynaPuff", system-ui;
    font-weight: 5;
    color: #025870;
}

.login-title{
    font-size: 30px;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    color: #025870;
    font-weight: 600;
    margin-bottom: 20px;
}

form input{
    margin: 8px;
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 15px;
    border: solid 2px #025870;
    font-family: "DynaPuff", system-ui;
    color: #025870;
    background-color: #f9fcff;
}

.login-button{
    cursor: pointer;
    height: 60px;
    width: 310px;
    margin: 15px;
    font-weight: 400;
    border-radius: 15px;
    color: #ffff;
    background-color: #025870;
    font-family: "DynaPuff", system-ui;
    outline: none;
    box-shadow: none;
    border-color: none;
    margin-bottom: 30px;
}