.user-body{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.medium{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}


.left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.user-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos{
    font-size: 18px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    font-family: "DynaPuff", system-ui;
    color: #025870;
    align-items: center;
}

.inf{
    font-size: 15px;
    font-family: "DynaPuff", system-ui;
    font-weight: 20;
    padding-left: 12px;
    color: #000000;
}

.exampleUser-perfil-img{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.posts{
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #025870 transparent;
}

.li-posts{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 60px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffff;
    text-align: center;
    font-size: 12px;
    font-family: "DynaPuff", system-ui;
    font-weight: 20;
    color: #000000;
    border: solid #000000 2px;
}

.title{
    text-align: center;
    font-size: 25px;
    font-family: "DynaPuff", system-ui;
    color: #025870;
    font-weight: 500;
    padding-left: 30px;
}

.conq-item{
    background-color: #bfdbfb;
    font-size: 12px;
    font-family: "DynaPuff", system-ui;
    color: #000000;
    height: 150px;
    width: 150px; 
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.trophy-img{
    width: 85px;
    height: 90px;
    margin-bottom: 20px;
}

.conq ul{
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #025870 transparent;
}



